
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div ng-controller="CategoryCtrl" ng-init="AddInit()" class="container-fluid body-content">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h4>Add Admin</h4>
        </div>
    </div>

    <div class="AddUserForm bg-white">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Name</lable>
                    <input class="form-control" type="text" ng-model="Category.Name" placeholder="Enter Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Description</lable>
                    <input class="form-control" type="text" ng-model="Category.Description" placeholder="Enter Email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Control Center</lable>
                    <input class="form-control" type="number" ng-model="Category.ControlCenterId" placeholder="Enter Control Center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <a ng-click="AddCategory(Category)" class="btn btn-primary float-right">
                    Submit
                </a>
            </div>
        </div>
    </div>
</div>
