<!DOCTYPE html >
<html ng-app="Butler">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Butler</title>
    @*<link href="css/styles.css" rel="stylesheet" />*@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="~/Content/SubDashboard.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    @*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />*@
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js ">*@
    @*ui-slect theme*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link href="~/Content/UiSelect2/Select.css" rel="stylesheet" />
    <link href="~/Content/toaster.css" rel="stylesheet" />



</head>
<body class="sb-nav-fixed" ng-controller="baseCtrl" ng-class="ServiceClassBinder" ng-cloak>
    <toaster-container toaster-options="{'time-out': 7000}"></toaster-container>
    <div class="loader" ng-if="TotalNumberOfServicesRunning > 0"></div>
    <nav class="sb-topnav nav-margin navbar navbar-expand navbar-dark bg-light">
        @*<a href="" style="padding-right:3%;">
            <img src="~/Content/Images/TIMS-logo.png" alt="" width="110" height="35" class="d-inline-block align-top">
        </a>*@

        <button class="btn-visibility btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            @*<div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>*@
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">

            @*<li class="nav-item">
            <a><i class="fas fa-bell"></i></a>
        </li>*@
            <!--@Html.Partial("_LoginPartial")-->
            <li>
                <a href="#"><img class="header-icons" src="https://img.icons8.com/fluency-systems-regular/48/000000/appointment-reminders--v1.png" /></a>
            </li>
            <li>
                <a href="#"><img class="header-icons" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/50/000000/external-message-contact-flatart-icons-outline-flatarticons.png" /></a>
            </li>
            <li>
                <a href="#"><img class="header-icons" src="https://img.icons8.com/ios/50/000000/exit.png" /></a>
            </li>

        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu font-12">
                    <a href="~/Home" style="padding-right:3%;">
                        <img class="dashboard-logo" src="~/Content/Images/ButlerLogo.jpg" />
                    </a>
                    <div class="user-avatar">
                        <img class="image-fit user-avatar-image" src="	http://revamp.butlersbench.com/storage/contractor/K9YwB6SAcogbnzDQnwDHvbBOWkPqRkeQMyipYt5t.jpeg"/>
                    </div>
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="padding-top:0px;">Interface</div>
                        <a class="nav-link" href="~/Home">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Jobs Inspections
                        </a>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            User Management
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">Admin</a>
                                <a class="nav-link" href="#">Contractor</a>
                                <a class="nav-link" href="#">Costumer</a>
                                <a class="nav-link" href="#">Worker</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#categoryLayout" aria-expanded="false">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Category
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="categoryLayout" aria-labelledby="headingOne">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Category/">Index</a>
                                <a class="nav-link" href="/Category/Add">Add</a>

                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#controlCenterLayout" aria-expanded="false">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Control Center
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="controlCenterLayout" aria-labelledby="headingOne">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/ControlCenter/">Index</a>
                                <a class="nav-link" href="/ControlCenter/Add">Add</a>

                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">

            @RenderBody()

        </div>

    </div>

    <script src="~/Content/js/angular.min.js"></script>
    <script src="~/Content/UiSelect2/Select.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/toaster.js"></script>
    @Scripts.Render("~/Content/js/Angular/AngularBundle")


    <script src="~/Content/js/angular-chart.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/js/angular-chart.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>
    <script src="~/Scripts/FileSaver.js"></script>
    @*<script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>*@

    @*<script>
            $(document).ready(function () {
                $('#dataTable').DataTable({
                    "paging": false,
                    "bInfo": false,
                    "bFilter": false,
                    "bProcessing": false

                });
            });
        </script>*@
    <script>
        (function ($) {
            "use strict";

            // Add active state to sidbar nav links
            var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
            $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function () {
                if (this.href === path) {
                    $(this).addClass("active");
                }
            });

            // Toggle the side navigation
            $("#sidebarToggle").on("click", function (e) {
                e.preventDefault();
                $("body").toggleClass("sb-sidenav-toggled");
            });
        })(jQuery);
    </script>


</body>
</html>